* {
  margin: 0px;
  padding: 0px;
}

.contactmefull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
}
.contactcomponent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.contactintro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactintro h1 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.underline {
  margin-top: 6px;
  width: 32px;
  border: 4px solid #7843e9;
  border-radius: 8px;
}
.contactsummery {
  margin-top: 32px;
  text-align: center;
  width: 75%;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 64px;
}
.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 32px 0px;
  margin-bottom: 74px;
}
.form div {
  display: flex;
  flex-direction: column;
  /* margin: 16px; */
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
.form div label {
  color: #666666;
  margin: 12px;
  width: 80%;
  text-align: left;
  font-size: 18px;
}
.form div input,
textarea {
  color: #333333;
  padding: 18px;
  border: none;
  background-color: #f0f0f0;
  width: 80%;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  font-size: 24px;
}
.form div textarea {
  resize: none;
}
.submit {
  margin: 12px;
  padding: 16px 54px;
  border: none;
  color: white;
  background-color: #7843e9;
  border-radius: 16px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.submit:hover {
  transform: translate(0, -5px);
  transition: 0.3s ease-in-out;
}
